@define-color bg0 #282828;
@define-color fg0 #d4be98;

* {
  font-family: JetBrainsMonoNFP;
  font-size: 13px;
}

button {
  border-radius: 0px;
}

#waybar {
  background-color: @bg0;
  color: @fg0;
  opacity: 0.95;
}

#custom-settings-icon,
#window,
#tray,
#network,
#pulseaudio,
#battery,
#clock {
  padding: 0 10px;
}

#backlight {
  padding: 0 10px 0 0.5px;
}

#workspaces button {
  padding: 0 5px;
}

#workspaces button.active {
  box-shadow: inset 0 -3px @fg0;
}
